<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns="http://www.springframework.org/schema/beans"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
             http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">

    <bean id="simpleBean" class="com.nursery.spring.SimpleBean" init-method="getAge" name="a,b" destroy-method="destroyMethod">
        <property name="name" value="xingoo"/>
        <property name="age" value="12"/>
    </bean>
    <alias name="a" alias="bean"/>
    <alias name="simpleBean" alias="bean1"/>

    <bean id="helloBeanFactoryPosterPocessor" class="com.nursery.spring.HelloBeanFactoryPosterProcessor"/>

    <bean id="helloFactoryBean" class="com.nursery.spring.HelloFactoryBean">
    </bean>

    <bean id="circularDependencyBean" class="com.nursery.spring.CircularDependencyBean"/>
</beans>